*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
.body {
  height: 100vh;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #AD68E9;
  padding: 0 25px;
}

.main {
  width: 100%;
}

.accordion-section__inner {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  margin: 0 auto;
  max-width: 920px;
  min-width: 300px;
  background: #fff;
  border-radius: 25px;
  gap: 35px;
  padding: 0 25px 45px 25px;
  min-height: 400px;
}

@media (min-width: 640px) {
  .accordion-section__inner {
    padding: 0 0;
    gap: 90px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 640px) {
  .accordion-section__img-overflow {
    overflow: hidden;
  }
}

@media (min-width: 640px) {
  .accordion-section__main {
    padding: 45px 25px 45px 0;
  }
}

.accordion-section__title {
  text-align: center;
}

@media (min-width: 640px) {
  .accordion-section__title {
    text-align: left;
  }
}

.accordion-section__img {
  background-image: url("/img/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  height: 110px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

@media (min-width: 640px) {
  .accordion-section__img {
    background-image: url("/img/bg-pattern-desktop.svg");
    height: 100%;
    left: -100px;
    background-position: right;
    background-size: 570px auto;
  }
}

.accordion-section__img-cover {
  margin: 0 auto;
  position: absolute;
  top: -110px;
  max-width: 240px;
}

@media (min-width: 640px) {
  .accordion-section__img-cover {
    top: 10%;
    width: 420px;
    max-width: 420px;
  }
}

.accordion-section__img-box {
  display: none;
}

@media (min-width: 640px) {
  .accordion-section__img-box {
    display: block;
    position: absolute;
    top: 38%;
    left: -125px;
    z-index: 555;
    overflow: visible;
  }
}

.accordion {
  max-width: 100%;
}

@media (min-width: 640px) {
  .accordion {
    max-width: 350px;
  }
}

.accordion__trigger {
  cursor: pointer;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  position: relative;
  padding-right: 20px;
}

.accordion__trigger::after {
  content: '';
  background-image: url("/img/icon-arrow-down.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 7px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.accordion__trigger:hover {
  color: orange;
}

.accordion__content {
  display: none;
}

.accordion__item--active .accordion__trigger {
  font-weight: 700;
  border: 0;
}

.accordion__item--active .accordion__trigger:hover {
  color: inherit;
}

.accordion__item--active .accordion__trigger::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.accordion__item--active .accordion__content {
  display: block;
}
